<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="UserMapper">

    <select id="countUsers" resultType="int">
        SELECT count(*) FROM user
    </select>


    <select id="selectUser" parameterType="LoginRequestDto" resultType="UserDto">
        SELECT u.userName, u.userGender, u.userRegion, uli.userEmail, uli.userSecret FROM user AS u
        INNER JOIN userLoginInfo AS uli ON u.userEmail = uli.userEmail
        WHERE u.userEmail = #{userEmail}
    </select>
    <!-- userName은 파라미터 이름? -->

    <select id="selectAllUsers" resultType="UserDto">
        SELECT * FROM user AS u
        INNER JOIN userLoginInfo AS uli ON u.userEmail = uli.userEmail
    </select>

    <insert id="insertUser" parameterType="RegisterDto">
        INSERT INTO user (userName, userEmail, userGender, userRegion)
        VALUES(#{userName}, #{userEmail}, #{userGender}, #{userRegion});
    </insert>

    <insert id="insertUserInfo" parameterType="RegisterDto">
        INSERT INTO userLoginInfo (userEmail, userSecret)
        VALUES(#{userEmail}, #{userSecret})
    </insert>



    <select id="existInUser" parameterType="String" resultType="boolean">
        SELECT EXISTS(
            SELECT userEmail FROM user WHERE userEmail = #{userEmail}
        )
    </select>

</mapper>
