<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="UserMapper">
    <select id="selectUser" parameterType="String" resultType="UserDto">
        SELECT * FROM user WHERE userEmail = #{userEmail}
    </select>
    <!-- userName은 파라미터 이름? -->

    <insert id="insertUser" parameterType="RegisterDto">
        INSERT INTO user (userName, userEmail, userGender, userRegion)
        VALUES(#{userName}, #{userEmail}, #{userGender}, #{userRegion});
    </insert>

    <insert id="insertUserInfo" parameterType="RegisterDto">
        INSERT INTO userLoginInfo (userEmail, userSecret)
        VALUES(#{userEmail}, #{userSecret})
    </insert>



    <select id="existInUser" parameterType="String" resultType="boolean">
        SELECT EXISTS(
            SELECT userEmail FROM user WHERE userEmail = #{userEmail}
        )
    </select>

</mapper>
