<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <!-- 여기에 설정 해놓은게 UserMapper에서 resultType을 간편하게 사용 가능-->
        <typeAlias alias="UserDto" type="org.example.dto.user.UserDto"/>
        <typeAlias alias="RegisterDto" type="org.example.dto.register.RegisterDto"/>
    </typeAliases>


</configuration>